
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 138.6rem;
}.galileo-design-MoB {
  width: 100%;
  height: 578.2rem;
  background-color: #ffffff;

  .depth-0-frame-0-Pzm {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #f7f9fc;

    .depth-1-frame-0-w97 {
      width: 128rem;
      height: 346.45rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .depth-2-frame-0-oh7 {
        padding: 1.25rem 4rem;
        width: 100%;
        height: 6.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 3.6rem;
        box-sizing: border-box;
        border: solid 0.1rem #e5e8ea;
        flex-shrink: 0;

        .depth-4-frame-0-uVF {
          margin: 0.875rem 29.002rem 0.825rem 0rem;
          height: calc(100% - 1.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .depth-5-frame-0-dAM {
            margin: 0rem 1.6rem 0.05rem 0rem;
            width: 1.6rem;
            height: 1.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .testbyte-jjB {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: -0.027rem;
            color: #0c171c;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .depth-3-frame-1-Ya9 {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .depth-4-frame-0-GW9 {
            margin: 0.95rem 3.206rem 0.95rem 0rem;
            height: calc(100% - 1.9rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .home-mxh {
              line-height: 1.5;
              color: #0c171c;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5859rem;
              font-size: 1.4rem;
              font-weight: 500;
            }
            .about-us-Vdo {
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5109rem;
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #0c171c;
            }
            .careers-ELV {
              font-weight: 500;
              line-height: 1.5;
              color: #0c171c;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.6031rem;
              font-size: 1.4rem;
            }
            .testimonials-mbK {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #0c171c;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5922rem;
            }
            .hire-through-us-WJ1 {
              font-size: 1.4rem;
              font-weight: 500;
              line-height: 1.5;
              color: #0c171c;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 3.5516rem;
            }
            .contact-us-ShT {
              line-height: 1.5;
              color: #0c171c;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 500;
            }
          }
          .depth-4-frame-1-yBb {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            align-items: center;

            .depth-5-frame-0-6n1 {
              width: 8.5484rem;
              flex-shrink: 0;
              overflow: hidden;
              position: relative;
              background-color: #072d44;
              border-radius: 0.8rem;
              margin-right: 0.8rem;
              box-sizing: border-box;
              padding: 0.95rem 1.6rem;
              height: 100%;

              .depth-6-frame-0-nuj {
                font-weight: 700;
                letter-spacing: 0.021rem;
                white-space: nowrap;
                background-color: #072d44;
                line-height: 1.5;
                color: #f7f9fc;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                font-size: 1.4rem;
              }
            }
            .depth-5-frame-1-reh {
              box-sizing: border-box;
              height: 100%;
              overflow: hidden;
              background-color: #e8edf2;
              border-radius: 0.8rem;
              padding: 0.95rem 2.073rem 0.95rem 2.127rem;
              width: 8.4rem;
              position: relative;
              flex-shrink: 0;

              .depth-6-frame-0-AvH {
                height: 100%;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                background-color: #e8edf2;
                font-weight: 700;
                letter-spacing: 0.021rem;
                display: flex;
                position: relative;
                font-size: 1.4rem;
                color: #0c171c;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .depth-3-frame-0-1vu {
        width: calc(100% - 32rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0 16rem;
        box-sizing: border-box;
        padding: 0rem 1.6rem 0rem 1.55rem;

        .depth-6-frame-0-W6y {
          padding: 18.4rem 6.1rem 2.4rem 5.6rem;
          height: 48rem;
          background-size: 100% 100%;
          flex-shrink: 0;
          margin: 0rem 0rem 5.6rem 0.05rem;
          box-sizing: border-box;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
          background-position: center;
          border-radius: 0.8rem;
          width: calc(100% - 0.05rem);
          position: relative;
          background-image: url('REPLACE_IMAGE:a7bba8eb94a2e0d1e0737089802e15956b32b40d');
          overflow: hidden;
          background-repeat: no-repeat;

          .depth-7-frame-0-wTB {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .depth-9-frame-0-5pH {
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-bottom: 3.2rem;

              .hire-the-best-engineers-to-test-your-product-SPw {
                color: #ffffff;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 76.1rem;
                font-size: 4.8rem;
                line-height: 1.25;
                letter-spacing: -0.1584rem;
                margin-bottom: 0.8rem;
                font-weight: 800;
              }
              .we-are-the-1-software-testing-platform-for-the-worlds-most-innovative-companies-we-will-help-you-deliver-a-flawless-digital-experience-to-your-users-vpu {
                max-width: 81.1rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #ffffff;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .depth-9-frame-0-y2V {
              width: calc(100% - 33.1rem);
              height: 6.4rem;
              display: flex;
              flex-shrink: 0;
              margin-right: 33.1rem;
              padding: 0.8rem 0.8rem 0.8rem 1.6rem;
              align-items: center;
              background-color: #f7f9fc;
              border-radius: 0.8rem;
              box-sizing: border-box;

              .depth-10-frame-0-fR7 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 1.2rem 10.059rem 1.2rem 0rem;
                height: calc(100% - 2.4rem);

                .depth-11-frame-0-BeM {
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .enter-your-email-address-hMo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                }
              }
              .depth-11-frame-0-Q1K {
                height: 100%;
                position: relative;
                background-color: #072d44;
                padding: 1.2rem 2rem;
                width: 13.4406rem;
                overflow: hidden;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;

                .depth-12-frame-0-jpH {
                  overflow: hidden;
                  position: relative;
                  color: #f7f9fc;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  background-color: #072d44;
                  width: 100%;
                  height: 100%;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: 0.024rem;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .depth-5-frame-0-Vgy {
          flex-shrink: 0;
          margin: 0rem 0rem 6rem 0.05rem;
          width: calc(100% - 0.05rem);
          display: flex;
          flex-direction: column;

          .depth-6-frame-0-2S1 {
            margin-bottom: 4rem;
            width: 71.3rem;
            flex-shrink: 0;

            .depth-7-frame-0-BJu {
              margin-bottom: 2.4rem;
              width: 100%;
              display: flex;
              flex-direction: column;

              .testing-for-the-modern-world-wJ5 {
                font-size: 3.6rem;
                line-height: 1.25;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 1.6rem;
                font-weight: 800;
                letter-spacing: -0.1188rem;
                color: #0c171c;
                white-space: nowrap;
              }
              .our-platform-provides-end-to-end-testing-solutions-for-web-and-mobile-applications-including-functional-visual-and-performance-testing-36D {
                color: #0c171c;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 71.3rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
            .depth-9-frame-0-UhK {
              box-sizing: border-box;
              padding: 1.2rem 2rem;
              width: 12.9031rem;
              height: 4.8rem;
              overflow: hidden;
              position: relative;
              background-color: #072d44;
              border-radius: 0.8rem;

              .depth-10-frame-0-1hF {
                overflow: hidden;
                width: 100%;
                font-size: 1.6rem;
                background-color: #072d44;
                font-weight: 700;
                line-height: 1.5;
                color: #f7f9fc;
                justify-content: center;
                height: 100%;
                position: relative;
                letter-spacing: 0.024rem;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                align-items: center;
              }
            }
          }
          .depth-6-frame-1-u1w {
            width: 100%;
            height: 36.8rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-exvq-FLh {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              width: 17.6rem;
              height: 100%;

              .depth-7-frame-0-CFw {
                margin-bottom: 1.2rem;
                width: 100%;
                border: solid 0.1rem #d1dde8;
                background-color: #f7f9fc;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.6rem 1.6rem 3.9rem 1.6rem;
                display: flex;
                flex-direction: column;

                .depth-8-frame-0-JZs {
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .depth-8-frame-1-SRB {
                  display: flex;
                  flex-direction: column;
                  flex-shrink: 0;

                  .all-devices-c4m {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  }
                  .we-test-on-all-the-devices-your-customers-use-7nD {
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 11.4rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
              }
              .depth-7-frame-5-MwT {
                border: solid 0.1rem #d1dde8;
                border-radius: 0.8rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.6rem 1.6rem 1.8rem 1.6rem;
                background-color: #f7f9fc;

                .depth-8-frame-0-JLu {
                  flex-shrink: 0;
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .depth-8-frame-1-2nh {
                  flex-shrink: 0;
                  display: flex;
                  flex-direction: column;

                  .all-budgets-zUd {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                  }
                  .we-work-with-all-budgets-from-startups-to-enterprises-L2h {
                    max-width: 10.7rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                }
              }
            }
            .auto-group-phx3-R49 {
              padding-left: 1.2rem;
              height: 100%;
              display: flex;
              column-gap: 1.2rem;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;

              .depth-7-frame-1-KfK {
                border: solid 0.1rem #d1dde8;
                background-color: #f7f9fc;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.6rem 1.6rem 1.8rem 1.6rem;
                width: 17.6rem;

                .depth-8-frame-0-pMB {
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .depth-8-frame-1-XFb {
                  flex-direction: column;
                  display: flex;

                  .all-scenarios-saM {
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  }
                  .we-test-all-the-real-world-scenarios-your-customers-encounter-oyo {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 11.9rem;
                    font-size: 1.4rem;
                  }
                }
              }
              .depth-7-frame-2-VLq {
                box-sizing: border-box;
                padding: 1.6rem 2.8rem 3.9rem 1.6rem;
                width: 17.6rem;
                border: solid 0.1rem #d1dde8;
                background-color: #f7f9fc;
                border-radius: 0.8rem;
                flex-shrink: 0;

                .depth-8-frame-0-RVP {
                  object-fit: contain;
                  vertical-align: top;
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .depth-8-frame-1-mZF {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .all-techniques-LMT {
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                  }
                  .we-use-all-the-latest-techniques-and-methodologies-fPj {
                    font-weight: 400;
                    line-height: 1.5;
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 13.2rem;
                    font-size: 1.4rem;
                  }
                }
              }
              .depth-7-frame-3-JSh {
                padding: 1.6rem 1.8rem 3.9rem 1.6rem;
                width: 17.6rem;
                border: solid 0.1rem #d1dde8;
                background-color: #f7f9fc;
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;

                .depth-8-frame-0-ouF {
                  object-fit: contain;
                  vertical-align: top;
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .depth-8-frame-1-9iD {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  .all-tools-WHs {
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                  .we-use-all-the-leading-industry-tools-and-platforms-3Ho {
                    max-width: 14.2rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                  }
                }
              }
              .depth-7-frame-4-jRX {
                border-radius: 0.8rem;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 1.6rem 3.1rem 3.9rem 1.6rem;
                width: 17.6rem;
                border: solid 0.1rem #d1dde8;
                background-color: #f7f9fc;

                .depth-8-frame-0-TcR {
                  margin-bottom: 1.2rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .depth-8-frame-1-Cpu {
                  width: 100%;
                  display: flex;
                  flex-direction: column;

                  .all-metrics-xZB {
                    line-height: 1.25;
                    color: #0c171c;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    margin-bottom: 0.4rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                  }
                  .we-measure-all-the-metrics-that-matter-to-your-business-HrM {
                    color: #4f7a96;
                    font-family: Plus Jakarta Sans, 'Source Sans Pro';
                    flex-shrink: 0;
                    max-width: 12.9rem;
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 1.5;
                  }
                }
              }
            }
          }
        }
        .why-testbyte-KHF {
          letter-spacing: -0.033rem;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 73.15rem 2.75rem 0rem;
          font-weight: 700;
          line-height: 0.9166666667;
          font-size: 3rem;
          color: #0c171c;
          flex-shrink: 0;
        }
        .depth-4-frame-3-2Bf {
          margin: 0rem 0rem 3.2rem 0.05rem;
          width: calc(100% - 0.05rem);
          height: 32.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-xcxm-91P {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 17.6rem;
            height: 100%;
            align-items: center;

            .depth-5-frame-0-HNV {
              background-color: #f7f9fc;
              border-radius: 0.8rem;
              margin-bottom: 1.2rem;
              box-sizing: border-box;
              padding: 1.6rem 1.6rem 1.8rem 1.6rem;
              display: flex;
              flex-direction: column;
              border: solid 0.1rem #d1dde8;
              width: 100%;
              flex-shrink: 0;

              .depth-6-frame-0-D1F {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .depth-6-frame-1-YpD {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .global-scale-Wm3 {
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .test-on-any-device-anywhere-in-the-world-Sub {
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 12.7rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
            }
            .depth-5-frame-5-V7B {
              box-sizing: border-box;
              flex-direction: column;
              background-color: #f7f9fc;
              border-radius: 0.8rem;
              flex-shrink: 0;
              padding: 1.6rem 3.1rem 1.8rem 1.6rem;
              width: 100%;
              display: flex;
              border: solid 0.1rem #d1dde8;

              .depth-6-frame-0-otZ {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .depth-6-frame-1-9xR {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .cost-effective-7uF {
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                }
                .flexible-pricing-options-to-suit-your-budget-fA5 {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 12.9rem;
                  font-size: 1.4rem;
                }
              }
            }
          }
          .auto-group-hc5b-9L9 {
            column-gap: 1.2rem;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 1.2rem;
            height: 100%;
            display: flex;

            .depth-5-frame-1-UdK {
              background-color: #f7f9fc;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 3rem 3.9rem 1.6rem;
              width: 17.6rem;
              border: solid 0.1rem #d1dde8;

              .depth-6-frame-0-cDj {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-zzy {
                width: 100%;
                display: flex;
                flex-direction: column;

                .real-users-YFo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                }
                .real-people-real-devices-real-results-UQM {
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 13rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                }
              }
            }
            .depth-5-frame-2-meM {
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 1.6rem 1.8rem 1.6rem;
              width: 17.6rem;
              border: solid 0.1rem #d1dde8;
              background-color: #f7f9fc;

              .depth-6-frame-0-hnu {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-eCM {
                display: flex;
                flex-direction: column;

                .fast-delivery-1Ho {
                  font-weight: 700;
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                }
                .rapid-turnaround-times-seamless-integrations-kFP {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 11.8rem;
                  font-size: 1.4rem;
                }
              }
            }
            .depth-5-frame-3-FC9 {
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 2.3rem 1.8rem 1.6rem;
              width: 17.6rem;
              border: solid 0.1rem #d1dde8;
              background-color: #f7f9fc;

              .depth-6-frame-0-8mj {
                margin-bottom: 1.2rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .depth-6-frame-1-FrM {
                width: 100%;
                display: flex;
                flex-direction: column;

                .security-oss {
                  font-weight: 700;
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                }
                .secure-reliable-and-compliant-with-industry-standards-wjB {
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 13.7rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                }
              }
            }
            .depth-5-frame-4-q3s {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.6rem 1.9rem 1.8rem 1.6rem;
              width: 17.6rem;
              border: solid 0.1rem #d1dde8;
              background-color: #f7f9fc;
              border-radius: 0.8rem;

              .depth-6-frame-0-xeH {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                margin-bottom: 1.2rem;
              }
              .depth-6-frame-1-WQu {
                width: 100%;
                display: flex;
                flex-direction: column;

                .expert-advice-qTB {
                  flex-shrink: 0;
                  margin-bottom: 0.4rem;
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.25;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .guidance-from-our-team-of-experienced-testing-professionals-AkM {
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 14.1rem;
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
        .depth-6-frame-0-zUV {
          height: 48rem;
          position: relative;
          background-image: url('REPLACE_IMAGE:a88e8cdde47d10a2edc2c2cd0fefba57fd00dd39');
          border-radius: 0.8rem;
          margin: 0rem 0rem 3.6rem 0.05rem;
          padding: 26rem 4.8rem 2.4rem 5.6rem;
          background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
          flex-shrink: 0;
          box-sizing: border-box;
          background-size: 100% 100%;
          background-position: center;
          width: calc(100% - 0.05rem);
          overflow: hidden;
          background-repeat: no-repeat;

          .depth-7-frame-0-tJy {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .depth-9-frame-0-3Sm {
              margin-bottom: 3.2rem;
              width: 100%;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .join-our-team-of-experts-axV {
                font-weight: 800;
                color: #ffffff;
                white-space: nowrap;
                letter-spacing: -0.1584rem;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0.8rem;
                font-size: 4.8rem;
                line-height: 1.25;
              }
              .were-always-looking-for-talented-passionate-people-to-join-our-team-if-youre-ready-to-take-your-career-to-the-next-level-wed-love-to-hear-from-you-h1X {
                line-height: 1.5;
                color: #ffffff;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 82.4rem;
                font-size: 1.6rem;
                font-weight: 400;
              }
            }
            .depth-9-frame-0-Mbs {
              padding: 1.2rem 2rem;
              border-radius: 0.8rem;
              flex-shrink: 0;
              background-color: #072d44;
              box-sizing: border-box;
              width: 20.5141rem;
              height: 4.8rem;
              overflow: hidden;
              position: relative;

              .depth-10-frame-0-gu3 {
                align-items: center;
                background-color: #072d44;
                height: 100%;
                overflow: hidden;
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Plus Jakarta Sans, 'Source Sans Pro';
                display: flex;
                letter-spacing: 0.024rem;
                justify-content: center;
                position: relative;
                color: #f7f9fc;
                width: 100%;
                line-height: 1.5;
                white-space: nowrap;
              }
            }
          }
        }
        .what-our-customers-are-saying-q9f {
          margin: 0rem 60.95rem 2.75rem 0rem;
          color: #0c171c;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2.2rem;
          font-weight: 700;
          line-height: 1.25;
          letter-spacing: -0.033rem;
          white-space: nowrap;
        }
        .depth-4-frame-6-8Pf {
          overflow: hidden;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          width: 100%;
          height: 46.2rem;

          .depth-5-frame-0-541 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .depth-6-frame-0-dLR {
              margin-right: 3.15rem;
              padding-bottom: 5.4rem;
              height: 100%;
              display: flex;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 28.9rem;
              align-items: center;
              flex-direction: column;

              .depth-8-frame-0-ALM {
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                width: 28.8rem;
                height: 28.8rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 14.4rem;
              }
              .depth-8-frame-0-gJh {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                width: 100%;
                align-items: center;

                .testimony-1-qBb {
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .testbyte-has-helped-us-improve-the-quality-and-reliability-of-our-software-resulting-in-a-better-user-experience-and-higher-customer-satisfaction-john-smith-cto-aQ5 {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 28.9rem;
                  text-align: center;
                }
              }
            }
            .depth-6-frame-1-N53 {
              display: flex;
              flex-direction: column;
              border-radius: 0.8rem;
              flex-shrink: 0;
              margin-right: 3.2rem;
              box-sizing: border-box;
              height: 100%;
              align-items: center;
              padding-bottom: 3.3rem;
              width: 28.8rem;

              .depth-8-frame-0-6mj {
                flex-shrink: 0;
                margin-bottom: 1.2rem;
                width: 28.8rem;
                height: 28.8rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 14.4rem;
              }
              .depth-8-frame-0-dmf {
                margin: 0 0.3rem;
                width: calc(100% - 0.6rem);
                align-items: center;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .testimony-2-B2V {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                }
                .testbytes-expertise-and-professionalism-have-been-invaluable-to-our-testing-efforts-they-consistently-deliver-high-quality-results-on-time-and-within-budget-jane-doe-qa-manager-7gq {
                  max-width: 28.2rem;
                  text-align: center;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
            .depth-6-frame-2-mFb {
              flex-direction: column;
              border-radius: 0.8rem;
              flex-shrink: 0;
              box-sizing: border-box;
              height: 100%;
              align-items: center;
              display: flex;
              padding-bottom: 1.2rem;
              width: 28.8rem;

              .depth-8-frame-0-uMo {
                margin-bottom: 1.2rem;
                width: 28.8rem;
                height: 28.8rem;
                object-fit: cover;
                vertical-align: top;
                border-radius: 14.4rem;
                flex-shrink: 0;
              }
              .depth-8-frame-0-ayj {
                flex-direction: column;
                flex-shrink: 0;
                margin: 0 0.75rem;
                width: calc(100% - 1.5rem);
                align-items: center;
                display: flex;

                .testimony-3-c9j {
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.5;
                  color: #0c171c;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .we-chose-testbyte-because-of-their-reputation-for-excellence-and-they-have-exceeded-our-expectations-in-every-way-i-highly-recommend-them-to-any-company-looking-for-top-notch-testing-services-bob-johnson-ceo-9fT {
                  text-align: center;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.5;
                  color: #4f7a96;
                  font-family: Plus Jakarta Sans, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 27.3rem;
                }
              }
            }
          }
        }
        .contact-us-N2R {
          white-space: nowrap;
          font-size: 3rem;
          line-height: 0.9166666667;
          color: #0c171c;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          margin: 0rem 0rem 2.35rem 4.428rem;
          font-weight: 700;
          letter-spacing: -0.033rem;
          flex-shrink: 0;
        }
        .depth-6-frame-0-f1X {
          flex-shrink: 0;
          margin: 0rem 22.4rem 2.4rem 22.45rem;
          width: calc(100% - 44.85rem);
          display: flex;
          flex-direction: column;

          .name-yAd {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #0c171c;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
          }
          .depth-8-frame-0-gqj {
            flex-shrink: 0;
            padding: 1.6rem;
            width: 100%;
            height: 5.6rem;
            overflow: hidden;
            border-radius: 0.8rem;
            box-sizing: border-box;
            position: relative;
            background-color: #e8edf2;

            .depth-9-frame-0-2ub {
              line-height: 1.5;
              height: 100%;
              overflow: hidden;
              font-weight: 400;
              justify-content: center;
              margin-right: 32.6rem;
              color: #4f7a96;
              display: flex;
              font-size: 1.6rem;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              align-items: center;
              width: 12.2rem;
              position: relative;
              white-space: nowrap;
            }
          }
        }
        .depth-6-frame-0-hkq {
          margin: 0rem 22.4rem 2.4rem 22.45rem;
          width: calc(100% - 44.85rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .email-F1f {
            line-height: 1.5;
            color: #0c171c;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
            font-weight: 500;
          }
          .depth-8-frame-0-BAD {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.6rem;
            overflow: hidden;
            position: relative;
            background-color: #e8edf2;
            border-radius: 0.8rem;
            width: 100%;
            height: 5.6rem;

            .depth-9-frame-0-KnD {
              height: 100%;
              font-size: 1.6rem;
              line-height: 1.5;
              align-items: center;
              margin-right: 32.8rem;
              width: 12rem;
              color: #4f7a96;
              white-space: nowrap;
              display: flex;
              position: relative;
              font-weight: 400;
              justify-content: center;
              overflow: hidden;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
            }
          }
        }
        .depth-6-frame-0-P1P {
          flex-shrink: 0;
          margin: 0rem 22.4rem 2.4rem 22.45rem;
          width: calc(100% - 44.85rem);
          display: flex;
          flex-direction: column;

          .message-gmB {
            font-weight: 500;
            line-height: 1.5;
            color: #0c171c;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 1.6rem;
          }
          .depth-8-frame-0-psP {
            font-size: 1.6rem;
            font-weight: 400;
            color: #4f7a96;
            padding: 1.6rem;
            width: 100%;
            height: 14.4rem;
            background-color: #e8edf2;
            border-radius: 0.8rem;
            flex-shrink: 0;
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            position: relative;
            line-height: 1.5;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
          }
        }
        .depth-5-frame-0-KZF {
          margin: 0rem 22.4rem 5.2rem 22.45rem;
          padding: 1.2rem 18.1875rem;
          overflow: hidden;
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: calc(100% - 44.85rem);
          height: 4.8rem;
          position: relative;
          background-color: #072d44;

          .depth-6-frame-0-dZw {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.024rem;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            width: 100%;
            overflow: hidden;
            font-size: 1.6rem;
            color: #f7f9fc;
            white-space: nowrap;
            background-color: #072d44;
            height: 100%;
            position: relative;
          }
        }
        .depth-4-frame-12-LDT {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 9.65rem 0rem 9.75rem;
          width: calc(100% - 19.4rem);
          align-items: center;

          .depth-5-frame-0-fmX {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .privacy-policy-E3w {
              text-align: center;
              font-weight: 400;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.1rem;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #4f7a96;
            }
            .terms-of-service-Lcm {
              text-align: center;
              font-weight: 400;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.05rem;
              font-size: 1.6rem;
              line-height: 1.5;
              color: #4f7a96;
            }
            .cookie-policy-pnq {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #4f7a96;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
            @media only screen and (max-width: 600px) {
              /* Reduce the padding and margin at smaller screen widths */
              padding: 2.4rem 2.5% 0rem 2.5%;
              margin: 0rem 2.5% 2.4rem 2.5%;
            }
          }
          .auto-group-zzhj-MGy {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 2.4rem 5% 0rem 5%;

            .depth-5-frame-1-UcV {
              flex-shrink: 0;
              margin: 0rem 5% 2.4rem 5%;
              width: calc(100% - 5.7rem);
              display: flex;
              column-gap: 1.6rem;
              align-items: center;

              .depth-6-frame-0-o8y {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .depth-6-frame-1-k4D {
                vertical-align: top;
                flex-shrink: 0;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
              }
              .depth-6-frame-2-gTf {
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 2.4rem;
              }
            }
            .testbyte-inc-dNu {
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              color: #4f7a96;
            }
          }
        }
      }
    }
  }
}
