
html {
	font-size:62.5%;
}


* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 138.6rem;
}.galileo-design-MoB {
  width: 100%;
  height: 3550px;
  background-color: #ffffff;
}


body, .galileo-design-MoB, .depth-0-frame-0-Pzm, .depth-1-frame-0-w97, .depth-2-frame-0-oh7, .depth-3-frame-0-1vu, .depth-4-frame-0-GW9, .depth-5-frame-0-Vgy, .depth-6-frame-0-2S1 {
  margin: 0;
  padding: 0;
}

.galileo-design-MoB .depth-0-frame-0-Pzm {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #f7f9fc;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 {
  width: 128rem;
  height: 346.45rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 {
  margin-bottom: 3.6rem;
  box-sizing: border-box;
  padding: 1.25rem 4rem;
  width: 100%;
  height: 6.5rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #e5e8ea;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-4-frame-0-uVF {
  margin: 0.875rem 29.002rem 0.825rem 0rem;
  height: calc(100% - 1.7rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-4-frame-0-uVF .depth-5-frame-0-dAM {
  margin: 0rem 1.6rem 0.05rem 0rem;
  width: 1.6rem;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-4-frame-0-uVF .testbyte-jjB {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.027rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 {
  margin: 0.95rem 3.206rem 0.95rem 0rem;
  height: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .home-mxh {
  margin-right: 3.5859rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .about-us-Vdo {
  margin-right: 3.5109rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .careers-ELV {
  margin-right: 3.6031rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .testimonials-mbK {
  margin-right: 3.5922rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .hire-through-us-WJ1 {
  margin-right: 3.5516rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-0-GW9 .contact-us-ShT {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-1-yBb {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-1-yBb .depth-5-frame-0-6n1 {
  margin-right: 0.8rem;
  box-sizing: border-box;
  padding: 0.95rem 1.6rem;
  width: 8.5484rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #072d44;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-1-yBb .depth-5-frame-0-6n1 .depth-6-frame-0-nuj {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.021rem;
  color: #f7f9fc;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #072d44;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-1-yBb .depth-5-frame-1-reh {
  box-sizing: border-box;
  padding: 0.95rem 2.073rem 0.95rem 2.127rem;
  width: 8.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #e8edf2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-2-frame-0-oh7 .depth-3-frame-1-Ya9 .depth-4-frame-1-yBb .depth-5-frame-1-reh .depth-6-frame-0-AvH {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.021rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8edf2;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu {
  margin: 0 16rem;
  box-sizing: border-box;
  padding: 0rem 1.6rem 0rem 1.55rem;
  width: calc(100% - 32rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y {
  margin: 0rem 0rem 5.6rem 0.05rem;
  box-sizing: border-box;
  padding: 18.4rem 6.1rem 2.4rem 5.6rem;
  width: calc(100% - 0.05rem);
  height: 48rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/depth-6-frame-0-bg-hgR.png');
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-5pH {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-5pH .hire-the-best-engineers-to-test-your-product-SPw {
  margin-bottom: 0.8rem;
  max-width: 76.1rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1584rem;
  color: #ffffff;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-5pH .we-are-the-1-software-testing-platform-for-the-worlds-most-innovative-companies-we-will-help-you-deliver-a-flawless-digital-experience-to-your-users-vpu {
  max-width: 81.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V {
  margin-right: 33.1rem;
  box-sizing: border-box;
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  width: calc(100% - 33.1rem);
  height: 6.4rem;
  display: flex;
  align-items: center;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V .depth-10-frame-0-fR7 {
  margin: 1.2rem 10.059rem 1.2rem 0rem;
  height: calc(100% - 2.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V .depth-10-frame-0-fR7 .depth-11-frame-0-BeM {
  margin-right: 1.6rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V .depth-10-frame-0-fR7 .enter-your-email-address-hMo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V .depth-11-frame-0-Q1K {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 13.4406rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #072d44;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-W6y .depth-7-frame-0-wTB .depth-9-frame-0-y2V .depth-11-frame-0-Q1K .depth-12-frame-0-jpH {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #f7f9fc;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #072d44;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy {
  margin: 0rem 0rem 6rem 0.05rem;
  width: calc(100% - 0.05rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 {
  margin-bottom: 4rem;
  width: 71.3rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 .depth-7-frame-0-BJu {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 .depth-7-frame-0-BJu .testing-for-the-modern-world-wJ5 {
  margin-bottom: 1.6rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1188rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 .depth-7-frame-0-BJu .our-platform-provides-end-to-end-testing-solutions-for-web-and-mobile-applications-including-functional-visual-and-performance-testing-36D {
  max-width: 71.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 .depth-9-frame-0-UhK {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 12.9031rem;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: #072d44;
  border-radius: 0.8rem;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-0-2S1 .depth-9-frame-0-UhK .depth-10-frame-0-1hF {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #f7f9fc;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #072d44;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w {
  width: 100%;
  height: 36.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh {
  width: 17.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-0-CFw {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 3.9rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-0-CFw .depth-8-frame-0-JZs {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-0-CFw .depth-8-frame-1-SRB {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-0-CFw .depth-8-frame-1-SRB .all-devices-c4m {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-0-CFw .depth-8-frame-1-SRB .we-test-on-all-the-devices-your-customers-use-7nD {
  max-width: 11.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-5-MwT {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.8rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-5-MwT .depth-8-frame-0-JLu {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-5-MwT .depth-8-frame-1-2nh {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-5-MwT .depth-8-frame-1-2nh .all-budgets-zUd {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-exvq-FLh .depth-7-frame-5-MwT .depth-8-frame-1-2nh .we-work-with-all-budgets-from-startups-to-enterprises-L2h {
  max-width: 10.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 {
  box-sizing: border-box;
  padding-left: 1.2rem;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-1-KfK {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.8rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-1-KfK .depth-8-frame-0-pMB {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-1-KfK .depth-8-frame-1-XFb {
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-1-KfK .depth-8-frame-1-XFb .all-scenarios-saM {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-1-KfK .depth-8-frame-1-XFb .we-test-all-the-real-world-scenarios-your-customers-encounter-oyo {
  max-width: 11.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-2-VLq {
  box-sizing: border-box;
  padding: 1.6rem 2.8rem 3.9rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-2-VLq .depth-8-frame-0-RVP {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-2-VLq .depth-8-frame-1-mZF {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-2-VLq .depth-8-frame-1-mZF .all-techniques-LMT {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-2-VLq .depth-8-frame-1-mZF .we-use-all-the-latest-techniques-and-methodologies-fPj {
  max-width: 13.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-3-JSh {
  box-sizing: border-box;
  padding: 1.6rem 1.8rem 3.9rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-3-JSh .depth-8-frame-0-ouF {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-3-JSh .depth-8-frame-1-9iD {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-3-JSh .depth-8-frame-1-9iD .all-tools-WHs {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-3-JSh .depth-8-frame-1-9iD .we-use-all-the-leading-industry-tools-and-platforms-3Ho {
  max-width: 14.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-4-jRX {
  box-sizing: border-box;
  padding: 1.6rem 3.1rem 3.9rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-4-jRX .depth-8-frame-0-TcR {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-4-jRX .depth-8-frame-1-Cpu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-4-jRX .depth-8-frame-1-Cpu .all-metrics-xZB {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-Vgy .depth-6-frame-1-u1w .auto-group-phx3-R49 .depth-7-frame-4-jRX .depth-8-frame-1-Cpu .we-measure-all-the-metrics-that-matter-to-your-business-HrM {
  max-width: 12.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .why-testbyte-KHF {
  margin: 0rem 73.15rem 2.75rem 0rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9166666667;
  letter-spacing: -0.033rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf {
  margin: 0rem 0rem 3.2rem 0.05rem;
  width: calc(100% - 0.05rem);
  height: 32.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P {
  width: 17.6rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-0-HNV {
  margin-bottom: 1.2rem;
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.8rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-0-HNV .depth-6-frame-0-D1F {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-0-HNV .depth-6-frame-1-YpD {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-0-HNV .depth-6-frame-1-YpD .global-scale-Wm3 {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-0-HNV .depth-6-frame-1-YpD .test-on-any-device-anywhere-in-the-world-Sub {
  max-width: 12.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-5-V7B {
  box-sizing: border-box;
  padding: 1.6rem 3.1rem 1.8rem 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-5-V7B .depth-6-frame-0-otZ {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-5-V7B .depth-6-frame-1-9xR {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-5-V7B .depth-6-frame-1-9xR .cost-effective-7uF {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-xcxm-91P .depth-5-frame-5-V7B .depth-6-frame-1-9xR .flexible-pricing-options-to-suit-your-budget-fA5 {
  max-width: 12.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 {
  box-sizing: border-box;
  padding-left: 1.2rem;
  height: 100%;
  display: flex;
  column-gap: 1.2rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-1-UdK {
  box-sizing: border-box;
  padding: 1.6rem 3rem 3.9rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-1-UdK .depth-6-frame-0-cDj {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-1-UdK .depth-6-frame-1-zzy {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-1-UdK .depth-6-frame-1-zzy .real-users-YFo {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-1-UdK .depth-6-frame-1-zzy .real-people-real-devices-real-results-UQM {
  max-width: 13rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-2-meM {
  box-sizing: border-box;
  padding: 1.6rem 1.6rem 1.8rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-2-meM .depth-6-frame-0-hnu {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-2-meM .depth-6-frame-1-eCM {
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-2-meM .depth-6-frame-1-eCM .fast-delivery-1Ho {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-2-meM .depth-6-frame-1-eCM .rapid-turnaround-times-seamless-integrations-kFP {
  max-width: 11.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-3-FC9 {
  box-sizing: border-box;
  padding: 1.6rem 2.3rem 1.8rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-3-FC9 .depth-6-frame-0-8mj {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-3-FC9 .depth-6-frame-1-FrM {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-3-FC9 .depth-6-frame-1-FrM .security-oss {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-3-FC9 .depth-6-frame-1-FrM .secure-reliable-and-compliant-with-industry-standards-wjB {
  max-width: 13.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-4-q3s {
  box-sizing: border-box;
  padding: 1.6rem 1.9rem 1.8rem 1.6rem;
  width: 17.6rem;
  border: solid 0.1rem #d1dde8;
  background-color: #f7f9fc;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-4-q3s .depth-6-frame-0-xeH {
  margin-bottom: 1.2rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-4-q3s .depth-6-frame-1-WQu {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-4-q3s .depth-6-frame-1-WQu .expert-advice-qTB {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.25;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-3-2Bf .auto-group-hc5b-9L9 .depth-5-frame-4-q3s .depth-6-frame-1-WQu .guidance-from-our-team-of-experienced-testing-professionals-AkM {
  max-width: 14.1rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV {
  margin: 0rem 0rem 3.6rem 0.05rem;
  box-sizing: border-box;
  padding: 26rem 4.8rem 2.4rem 5.6rem;
  width: calc(100% - 0.05rem);
  height: 48rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1000000015) 0%, rgba(0, 0, 0, 0.400000006) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/depth-6-frame-0-bg.png');
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy .depth-9-frame-0-3Sm {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy .depth-9-frame-0-3Sm .join-our-team-of-experts-axV {
  margin-bottom: 0.8rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -0.1584rem;
  color: #ffffff;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy .depth-9-frame-0-3Sm .were-always-looking-for-talented-passionate-people-to-join-our-team-if-youre-ready-to-take-your-career-to-the-next-level-wed-love-to-hear-from-you-h1X {
  max-width: 82.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy .depth-9-frame-0-Mbs {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 20.5141rem;
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: #072d44;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-zUV .depth-7-frame-0-tJy .depth-9-frame-0-Mbs .depth-10-frame-0-gu3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #f7f9fc;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #072d44;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .what-our-customers-are-saying-q9f {
  margin: 0rem 60.95rem 2.75rem 0rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.033rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 46.2rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-0-dLR {
  margin-right: 3.15rem;
  box-sizing: border-box;
  padding-bottom: 5.4rem;
  width: 28.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-0-dLR .depth-8-frame-0-ALM {
  margin-bottom: 1.2rem;
  width: 28.8rem;
  height: 28.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14.4rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-0-dLR .depth-8-frame-0-gJh {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-0-dLR .depth-8-frame-0-gJh .testimony-1-qBb {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-0-dLR .depth-8-frame-0-gJh .testbyte-has-helped-us-improve-the-quality-and-reliability-of-our-software-resulting-in-a-better-user-experience-and-higher-customer-satisfaction-john-smith-cto-aQ5 {
  max-width: 28.9rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-1-N53 {
  margin-right: 3.2rem;
  box-sizing: border-box;
  padding-bottom: 3.3rem;
  width: 28.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-1-N53 .depth-8-frame-0-6mj {
  margin-bottom: 1.2rem;
  width: 28.8rem;
  height: 28.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14.4rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-1-N53 .depth-8-frame-0-dmf {
  margin: 0 0.3rem;
  width: calc(100% - 0.6rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-1-N53 .depth-8-frame-0-dmf .testimony-2-B2V {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-1-N53 .depth-8-frame-0-dmf .testbytes-expertise-and-professionalism-have-been-invaluable-to-our-testing-efforts-they-consistently-deliver-high-quality-results-on-time-and-within-budget-jane-doe-qa-manager-7gq {
  max-width: 28.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-2-mFb {
  box-sizing: border-box;
  padding-bottom: 1.2rem;
  width: 28.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-2-mFb .depth-8-frame-0-uMo {
  margin-bottom: 1.2rem;
  width: 28.8rem;
  height: 28.8rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 14.4rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-2-mFb .depth-8-frame-0-ayj {
  margin: 0 0.75rem;
  width: calc(100% - 1.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-2-mFb .depth-8-frame-0-ayj .testimony-3-c9j {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-6-8Pf .depth-5-frame-0-541 .depth-6-frame-2-mFb .depth-8-frame-0-ayj .we-chose-testbyte-because-of-their-reputation-for-excellence-and-they-have-exceeded-our-expectations-in-every-way-i-highly-recommend-them-to-any-company-looking-for-top-notch-testing-services-bob-johnson-ceo-9fT {
  max-width: 27.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .contact-us-N2R {
  margin: 0rem 0rem 2.35rem 4.428rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.9166666667;
  letter-spacing: -0.033rem;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-f1X {
  margin: 0rem 22.4rem 2.4rem 22.45rem;
  width: calc(100% - 44.85rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-f1X .name-yAd {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-f1X .depth-8-frame-0-gqj {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  background-color: #e8edf2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-f1X .depth-8-frame-0-gqj .depth-9-frame-0-2ub {
  margin-right: 32.6rem;
  width: 12.2rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-hkq {
  margin: 0rem 22.4rem 2.4rem 22.45rem;
  width: calc(100% - 44.85rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-hkq .email-F1f {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-hkq .depth-8-frame-0-BAD {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  height: 5.6rem;
  overflow: hidden;
  position: relative;
  background-color: #e8edf2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-hkq .depth-8-frame-0-BAD .depth-9-frame-0-KnD {
  margin-right: 32.8rem;
  width: 12rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-P1P {
  margin: 0rem 22.4rem 2.4rem 22.45rem;
  width: calc(100% - 44.85rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-P1P .message-gmB {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0c171c;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-6-frame-0-P1P .depth-8-frame-0-psP {
  box-sizing: border-box;
  padding: 1.6rem;
  width: 100%;
  height: 14.4rem;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #e8edf2;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-KZF {
  margin: 0rem 22.4rem 5.2rem 22.45rem;
  box-sizing: border-box;
  padding: 1.2rem 18.1875rem;
  width: calc(100% - 44.85rem);
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  background-color: #072d44;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-5-frame-0-KZF .depth-6-frame-0-dZw {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.024rem;
  color: #f7f9fc;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #072d44;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT {
  margin: 0rem 9.65rem 0rem 9.75rem;
  width: calc(100% - 19.4rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .depth-5-frame-0-fmX {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .depth-5-frame-0-fmX .privacy-policy-E3w {
  margin-right: 20.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .depth-5-frame-0-fmX .terms-of-service-Lcm {
  margin-right: 20.05rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .depth-5-frame-0-fmX .cookie-policy-pnq {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy {
  box-sizing: border-box;
  padding: 2.4rem 28.7rem 0rem 28.65rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy .depth-5-frame-1-UcV {
  margin: 0rem 2.85rem 2.4rem 2.85rem;
  width: calc(100% - 5.7rem);
  display: flex;
  column-gap: 1.6rem;
  align-items: center;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy .depth-5-frame-1-UcV .depth-6-frame-0-o8y {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy .depth-5-frame-1-UcV .depth-6-frame-1-k4D {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy .depth-5-frame-1-UcV .depth-6-frame-2-gTf {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.galileo-design-MoB .depth-0-frame-0-Pzm .depth-1-frame-0-w97 .depth-3-frame-0-1vu .depth-4-frame-12-LDT .auto-group-zzhj-MGy .testbyte-inc-dNu {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f7a96;
  font-family: Plus Jakarta Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
